<div id="carousel-featured" class="carousel slide" data-ride="carousel">
    <div class="row">
    <div class="col-xs-6">
    <h4>Featured</h4>
</div>
<div class="col-xs-6">
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-featured" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>

    <!-- Indicators -->
<ol class="carousel-indicators">
    <li data-target="#carousel-featured" data-slide-to="0" class="active">1</li>
<li data-target="#carousel-featured" data-slide-to="1">2</li>
<li data-target="#carousel-featured" data-slide-to="2">3</li>
</ol>

<a class="right carousel-control" href="#carousel-featured" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>
</div>
<div class="row">
    <div class="col-xs-12">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
    <div class="item active">
    <div class="row">
    <div class="col-xs-5">
    <img class="img-responsive" src="http://placehold.it/100x100">
    </div>
<div class="col-xs-7">
    <h4>iMember360</h4>

<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</p>
</div>
</div>
<div class="row">
    <div class="col-xs-8">
    <h2>
    $19.95 /
<small>mo.</small>
</h2>
</div>
<div class="col-xs-4 pull-right">
    <button type="button" class="btn btn-primary">view</button>
</div>
</div>
<div class="row">
    <div class="col-xs-6">
    <p>User Rating</p>
</div>
<div class="col-xs-6">
    <i class="fa fa-star pull-right"></i>
<i class="fa fa-star pull-right"></i>
<i class="fa fa-star pull-right"></i>
<i class="fa fa-star pull-right"></i>
<i class="fa fa-star pull-right"></i>
</div>
</div>

</div>
</div>



</div>
</div>
</div>